<div class="dashboard">

  <div class="header">

    <!-- LEFT: Logo + Title -->
    <div class="header-left">
      <img src="assets/images/Pat_Industries_Logo.png" class="logo" alt="PAT Logo">
      <h1>Employee Portal</h1>
    </div>

    <!-- RIGHT: Logout -->
    <button class="logout-btn" (click)="logout()">
      Logout
    </button>

  </div>

  <!-- Profile Summary -->
  <app-employee-summary></app-employee-summary>

  <!-- Leave Balances -->
  <div class="cards">
    <app-leave-balance-card></app-leave-balance-card>
    <!-- <app-leave-balance-card title="Sick Leave" [days]="8"></app-leave-balance-card>
    <app-leave-balance-card title="Family Responsibility" [days]="3"></app-leave-balance-card> -->
  </div>

  <!-- Quick Actions -->
  <app-quick-actions></app-quick-actions>

  <!-- Leave History -->
  <app-leave-history></app-leave-history>

</div>