.dashboard {
  padding: 20px;
  color: white;
  background: #1a1a1a;
  min-height: 100vh;
}

h1 {
  color: #ff6600;
  margin-bottom: 20px;
}

.cards {
  /* display: ; */
  gap: 15px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* 🔥 Logo styling */
.logo {
  width: 150px;
  /* height: 50px; */
  object-fit: contain;
  border-radius: 30px; /* optional rounded look */
}

.logout-btn {
  background: #ff6600;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: #e65c00;
}