<div class="dashboard">

  <h1>Welcome back 👋</h1>

  <!-- Profile Summary -->
  <app-employee-summary></app-employee-summary>

  <!-- Leave Balances -->
  <div class="cards">
    <app-leave-balance-card></app-leave-balance-card>
    <!-- <app-leave-balance-card title="Sick Leave" [days]="8"></app-leave-balance-card>
    <app-leave-balance-card title="Family Responsibility" [days]="3"></app-leave-balance-card> -->
  </div>

  <!-- Quick Actions -->
  <app-quick-actions></app-quick-actions>

  <!-- Leave History -->
  <app-leave-history></app-leave-history>

</div>